.btn {
    margin-left:2px;
}

.navbar {
    margin-bottom: 0px;
}

.btn-toolbar {
    margin-left: 5px;
}

.panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-header {
    font-weight: bold
}

.post-banner {
    margin-top: 10px;
    margin-left: 5px;
    font-family: "Courier New";
}

.post-button {
    margin-bottom: 2px;
}

.add-comment-button {
    margin-left: 20px;
    margin-bottom: 5px;
}

.post-author {
    font-weight: bold;
    color: #0c9b24
}

.post-category {
    font-weight: bold;
    color: #1c08d1;
}